<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Form login -->
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Login</ion-button>
  </form>

  <ion-item lines="full" class="ion-margin-top">
    <ion-label class="ion-text-center">Or login with</ion-label>
  </ion-item>

  <!-- Social login buttons -->
  <ion-button expand="block" color="danger" (click)="loginWithGoogle()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Google
  </ion-button>

  <ion-button expand="block" color="primary" (click)="loginWithFacebook()">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Facebook
  </ion-button>

  <ion-button expand="block" color="success" (click)="loginWithLine()">
    <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
    LINE
  </ion-button>
</ion-content>
